{#{% extends "admin/login.html" %}#}
{% load i18n %}
{#{% block head %}#}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}
{% block content %}

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <div class="container mt-5">
        <h2 class="mb-3">注册</h2>
        <form method="POST" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username|add_class:"form-control" }}
                {{ form.username.errors }}
            </div>
            <div class="form-group">
                {{ form.email.label_tag }}
                {{ form.email|add_class:"form-control" }}
                {{ form.email.errors }}
            </div>
            <div class="form-group">
                {{ form.password1.label_tag }}
                {{ form.password1|add_class:"form-control" }}
                {{ form.password1.errors }}
            </div>
            <div class="form-group">
                {{ form.password2.label_tag }}
                {{ form.password2|add_class:"form-control" }}
                {{ form.password2.errors }}
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top: 20px">现在注册</button>
        </form>
    </div>
{% endblock %}
